/* 
Extra small (<576px) |  Small (≥576px)  |  Medium (≥768px) |  Large (≥992px)  |  Extra large(≥1200px)
None (auto)	         |  540px           |  720px           |  	960px         |  	1140px
.col-                |  .col-sm-        |  	.col-md-       |  	.col-lg-      |  	.col-xl-
*/

@media screen and (min-width: 540px) {}

@media (max-width: 540px) {
    .social {
        width: 50%;
        float: left;
    }
    .shrink img {
        width: 25% !important;
    }
    .second-navbar {
        margin-top: 30px;
    }
    .footer_wrapper {
        text-align: center !important;
    }
    .container {
        width: 100%;
    }
    .second-navbar .container .collapse .ml-auto li a {
        border-bottom: 1px solid #ccc;
    }
    .carousel-caption h3 {
        font-size: 1rem;
    }
    .second-navbar::after {
        margin-bottom: -5px !important;
    }
    .carousel-inner img {
        max-height: 200px;
    }
    .second-navbar::after {
        min-height: 15px !important;
    }
    .navbar-brand img {
        /* width: 180px !important; */
        /* margin-top: 10px !important; */
    }
    .second-navbar button {
        line-height: 50px !important;
    }
    .price-book {
        margin-top: 0px !important;
    }
    .h2,
    h2 {
        font-size: 1rem !important;
    }
    p {
        font-size: 12px;
    }
    .button {
        padding: 2px;
        font-size: 12px;
    }
}

@media (min-width: 540px) and (max-width: 720px) {
    .shrink img {
        width: 20% !important;
    }
    .prod_title h2 {
        line-height: 100px !important;
    }
    .second-navbar {
        margin-top: 30px;
    }
    .second-navbar .container .collapse .ml-auto li a {
        border-bottom: 1px solid #ccc;
    }
    .carousel-inner img {
        max-height: 300px;
    }
    .second-navbar::after {
        margin-bottom: -6px !important;
    }
    .price-book {
        margin-top: 0px !important;
    }
    /* .top-static-nav li {
        width: 50%;
    } */
    .second-navbar::after {
        min-height: 20px !important;
    }
    .navbar-brand img {
        /* width: 220px !important; */
        /* margin-top: 10px !important; */
    }
    .second-navbar button {
        line-height: 70px !important;
    }
}

@media (min-width: 720px) and (max-width: 960px) {
    .shrink img {
        width: 13% !important;
    }
    .prod_title h2 {
        line-height: 120px !important;
    }
    .card.blue.text-center.mt-2.mb-2.container {
        margin: 0% 3%;
    }
    .price-book {
        margin-top: 0px !important;
    }
    .second-navbar {
        margin-top: 30px;
    }
    .second-navbar .container .collapse .ml-auto li a {
        border-bottom: 1px solid #ccc;
    }
    /* .top-static-nav li {
        width: 50%;
    } */
}

@media (min-width: 960px) and (max-width: 1140px) {
    .prod_title h2 {
        line-height: 140px !important;
    }
    .card.blue.text-center.mt-2.mb-2.container {
        margin: 0% 3%;
    }
    .second-navbar {
        margin-top: 40px;
    }
    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }
    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }
    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
        border-bottom: 3px solid #da3340!important;
    }
}

@media (min-width: 1140px) {
    img.white-bg-img {
        padding: 40px;
        transition: transform .2s;
        margin: 0 auto;
        min-height: 127px;
    }
    img.white-bg-img:hover {
        transform: scale(1.5);
    }
    .prod_title h2 {
        line-height: 160px !important;
    }
    .card.blue.text-center.mt-2.mb-2.container {
        margin: 0% 3%;
    }
    .second-navbar {
        margin-top: 40px;
    }
    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }
    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }
    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
        border-bottom: 3px solid #da3340!important;
    }
}

@media (min-width: 1140px) {
    .shrink img {
        width: 8% !important;
    }
}

@media (max-width: 768px) {
    .logo-part {
        border-right: none !important;
    }
    .hide-mobile {
        display: none;
    }
    ul.navbar-nav.mr-auto {
        /* display: none !important; */
    }
    .h3,
    h3 {
        font-size: 1.2rem !important;
    }
    .carousel-caption h4 {
        font-size: 0.8rem !important;
    }
    a,
    .button {
        font-size: 0.8rem !important;
    }
    .h5,
    h5 {
        font-size: 1rem !important;
    }
    .megamenu {
        margin-left: 0;
        margin-right: 0;
    }
    .megamenu>li {
        margin-bottom: 30px;
    }
    .megamenu>li:last-child {
        margin-bottom: 0;
    }
    .megamenu.dropdown-header {
        padding: 3px 15px !important;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header {
        color: #fff;
    }
}